POSTGRES_DB=translation_lab
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5433

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=change_me_minio
MINIO_BUCKET=translation-documents
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001